<!doctype html>
<html lang="ja">
  <head>
    <title>日英翻訳</title>
  </head>
  <body>

<h2>日本語:</h2>

{% from "_formhelpers.html" import render_field %}

<form method=post action="/">
  
  
{{ render_field(form.source, cols='100', rows='15', placeholder="ここに日本語文を入力してください。") }}
  
  
  <dd>
	  <input type=submit value='翻訳' name='translate_btn'>
  </dd>
</form>

<h2>英語:</h2>
{% if target == None %}
<dd>
<textarea readonly names="result" cols="100" rows="15" placeholder="翻訳文が表示されます。"></textarea>
</dd>
{% else %}
<dd>
<textarea readonly names="result" cols="100" rows="15" placeholder="翻訳文が表示されます。">{{ target }}</textarea>
</dd>
{% endif %}
  </body>
</html>